<div class="container">
  <div class="d-flex flex-row justify-content-between">
    <h2 class="my-3">All my Tasks:</h2>
      <%= link_to new_task_path do %>
       <h3 class="my-3"><i class="fas fa-plus-square mr-2"></i>Add Task</h3>
    <% end %>
  </div>
  <% @tasks.each do |task| %>
   <div class="d-flex flex-row"> 
      <% if task.completed %>
      <i class="far fa-check-square p-3"></i>
      <% else %>
      <i class="far fa-square p-3"></i>
      <% end %>
      <h2 class="ml-4"><%= link_to task.title, task_path(task) %></h2>
    </div>
  <% end %>
</div>
<!-- tasks with actual checkboxes which update when pressed -->
<div class="container mt-4">
  <h3> Example with working checkboxes </h3>
  <% @tasks.each do |task| %>
    <div class="d-flex align-items-center">
      <h3><%= task.title %></h3>
      <%= form_for(task, url: task_completed_path(task)) do |f| %>
          <%= f.check_box :completed, class: 'mr-3 ml-3', onchange: "this.form.submit();" %>
      <% end %>
      <%= link_to delete_task_path(task), method: :delete do %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>
  <% end %>
</div>
