<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<%= link_to 'Back', tasks_path %>
<%= link_to 'Update Task', edit_task_path %>
<%= link_to 'Delete Task', task_path(@task), method: :delete, data: { confirm: "Are you sure you want to delete #{@task.title}?"} %>